version: '3.8'  # 推荐使用最新的 Compose 版本

services:
  mysql:
    image: mysql:8.4.6
    container_name: mysql8
    restart: unless-stopped
    ports:
      - "3306:3306"  # 将宿主机的3306端口映射到容器的3306端口
    environment:
      MYSQL_ROOT_PASSWORD: 123456  # 设置root用户的密码
    volumes:
      - ./data:/var/lib/mysql              # 使用命名卷持久化数据
      - ./my.cnf:/etc/my.cnf  # 挂载自定义配置文件
      # - C:/docker/mysql8/data:/var/lib/mysql  # 或者使用绝对路径挂载宿主机目录（适用于Windows）
      # - C:/docker/mysql8/my_custom.cnf:/etc/mysql/conf.d/my_custom.cnf  # （可选）挂载自定义配置文件
   # command: --default-authentication-plugin=mysql_native_password  # 设置认证插件

