qlib_init:
  provider_uri: D:\Data\my_stock
  region: cn
market: csi500
benchmark: SH000905
data_handler_config:
  start_time: 2008-01-01
  end_time: 2020-08-01
  fit_start_time: 2008-01-01
  fit_end_time: 2014-12-31
  instruments: csi300
port_analysis_config: &id001
  strategy:
    class: TopkDropoutStrategy
    module_path: qlib.contrib.strategy.strategy
    kwargs:
      topk: 50
      n_drop: 5
      signal: <PRED>
  backtest:
    start_time: 2017-01-01
    end_time: 2020-08-01
    account: 100000000
    benchmark: SH000905
    exchange_kwargs:
      limit_threshold: 0.095
      deal_price: close
      open_cost: 0.0005
      close_cost: 0.0015
      min_cost: 5
task:
  model:
    class: LGBModel
    module_path: qlib.contrib.model.gbdt
    kwargs:
      loss: mse
      colsample_bytree: 0.8879
      learning_rate: 0.0421
      subsample: 0.8789
      lambda_l1: 205.6999
      lambda_l2: 580.9768
      max_depth: 8
      num_leaves: 210
      num_threads: 20
  dataset:
    class: DatasetH
    module_path: qlib.data.dataset
    kwargs:
      handler:
        class: DataHandlerLP
        module_path: qlib.contrib.data.handler
        kwargs:
          start_time: '2008-01-01'
          end_time: '2020-12-31'
          instruments: csi500
          data_loader:
            class: QlibDataLoader
            kwargs:
              config:
                feature:
                - If(    ($close / Ref($close, 1) - 1 >= 0.095) &     (Ref($close,
                  1) / Ref($close, 2) - 1 >= 0.095) &     (Ref($close, 2) / Ref($close,
                  3) - 1 >= 0.095),     3,     If(        ($close / Ref($close, 1)
                  - 1 >= 0.095) &         (Ref($close, 1) / Ref($close, 2) - 1 >=
                  0.095),         2,         If($close / Ref($close, 1) - 1 >= 0.095,
                  1, 0)    ))
                - If($close / Ref($close, 1) - 1 >= 0.095, 1, 0)
                - ($open - Ref($close, 1)) / Ref($close, 1)
                - If($close / Ref($close, 1) - 1 <= -0.095, 1, 0)
                - Sum(If($close / Ref($close, 1) - 1 >= 0.095, 1, 0), 5)
                - Slope($close, 60)/$close
                - Slope($close, 30)/$close
                - If(    $close / Ref($close, 1) - 1 >= 0.095,     1 - ($volume /
                  Mean($volume, 5)),     0)
                - Slope($close, 20)/$close
                - Min($low, 5)/$close
                - Min($low, 10)/$close
                - Sum(Greater($close-Ref($close, 1), 0), 60)/(Sum(Abs($close-Ref($close,
                  1)), 60)+1e-12)
                - (Sum(Greater($close-Ref($close, 1), 0), 60)-Sum(Greater(Ref($close,
                  1)-$close, 0), 60))/(Sum(Abs($close-Ref($close, 1)), 60)+1e-12)
                - Sum(Greater(Ref($close, 1)-$close, 0), 60)/(Sum(Abs($close-Ref($close,
                  1)), 60)+1e-12)
                - Std($close, 5)/$close
                - Quantile($close, 5, 0.2)/$close
                - ($close - $low) / ($high - $low)
                - ($high - $close) / ($high - $low)
                - (2*$close-$high-$low)/($high-$low+1e-12)
                - (Less($open, $close)-$low)/($high-$low+1e-12)
                - $volume / Sum($volume, 20)
                - Min($low, 20)/$close
                - Slope($close, 10)/$close
                - Std($close, 10)/$close
                - Std($close, 20) / Mean($close, 20)
                - (Max($high, 20) - Min($low, 20)) / Mean($close, 20)
                - Min($low, 30)/$close
                - Min($low, 60)/$close
                - Slope($close, 5)/$close
                - $close / $high
                - $close / Mean($close, 5) - 1
                - Mean($close<Ref($close, 1), 60)
                - $high/$close
                - Mean($close>Ref($close, 1), 60)-Mean($close<Ref($close, 1), 60)
                - Quantile($close, 10, 0.2)/$close
                - (2*$close-$high-$low)/$open
                - ($high-Greater($open, $close))/$open
                - Std($close, 20)/$close
                - Mean($close, 5)/$close
                - Std($close, 60)/$close
                - Ref($low, 1)/$close
                - Ref($close, 2)/$close
                - Std($close, 30)/$close
                - Ref($low, 2)/$close
                - Ref($close, 1) / $close - 1
                - Ref($close, 1)/$close
                - (Less($open, $close)-$low)/$open
                - $close / Mean($close, 10) - 1
                label:
                - Ref($close, -2)/Ref($close, -1) - 1
              freq: day
          infer_processors:
          - class: RobustZScoreNorm
            kwargs:
              fields_group: feature
              clip_outlier: true
              fit_start_time: '2008-01-01'
              fit_end_time: '2014-12-31'
          - class: Fillna
            kwargs:
              fields_group: feature
          learn_processors:
          - class: DropnaLabel
          - class: CSRankNorm
            kwargs:
              fields_group: label
      segments:
        train:
        - 2008-01-01
        - 2014-12-31
        valid:
        - 2015-01-01
        - 2016-12-31
        test:
        - 2017-01-01
        - 2020-08-01
  record:
  - class: SignalRecord
    module_path: qlib.workflow.record_temp
    kwargs: {}
  - class: SigAnaRecord
    module_path: qlib.workflow.record_temp
    kwargs:
      ana_long_short: false
      ann_scaler: 252
  - class: PortAnaRecord
    module_path: qlib.workflow.record_temp
    kwargs:
      config: *id001
